.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--foreground);
  padding: 6px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.links {
  display: flex;
  gap: 2rem;
}

i.user {
  font-size: 20px;
}

i.user:hover {
  cursor: pointer;
  color: rgb(113, 112, 112);
}

@media screen and (min-width: 768px) {
  .header {
    padding: 5px 15px;
  }

  i.user {
    font-size: 23px;
  }
}

@media screen and (min-width: 1920px) {
  .header {
    padding: 10px 20px;
  }

  i.user {
    font-size: 30px;
  }
}