.note {
  display: flex;
  align-items: center;
}

.note > div {
  display: flex;
  gap: 1rem;
}

.note > p {
  margin: 0;
}

.note > .title {
  flex: 1;
}

.categories {
  display: flex;
  gap: .3rem;
}

.note button {
  padding: 0px 8px;
}
